# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dol
*.elf

# Exclusive for decomp
ctx.c
*.bat
*.sh
*.sln
*.7z
*.dump
*.idb
*.id0
*.id1
*.id2
*.nam
.private/*
build/*
data/*
tools/GC/*
tools/Wii/*
tools/src/*
tools/PPC/*
tools/*.txt
tools/makesel
tools/ipl2dtk
tools/elf2bs
.vscode/settings.json
*.filters
*.vcxproj
*.user
.DS_Store
*.bat
*.img
*.bin
*.map
*.log
*.elf
*.dol
*.bak
*.dtk
objdiff.json
*.lnk
*.wad
*.swf

# Scrapped :(
.web/*
