# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.app
*.o
*.map
*.MAP

# Build files
build/
.ninja_*
build.ninja
.private/*

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
progress/*
/*.txt
*.exe
*.lnk
*.bat
*.log